.page-footer {
	background-color: #333;
	color: #fff;
}

.page-footer .form-control {
	background-color: #666;
	border-color: #444;
	color: #fff;
}

.page-footer .form-control:focus {
	border-color: #66afe9;
}
